body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./joe-maldonado-hFSnuPi0t3Q-unsplash.jpg);
    background-size: cover;
}

#main {
    background-color: grey;
    padding: 24px;
}

.dice {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px;
    min-height: 80px;
    text-align: center;
    border-radius: 8px;
}

button {
    margin: 8px;
    font-size: 24px;
    background-color: lightsteelblue;
    border-radius: 8px;
    border-style: none;
    border: 1px solid black;
}

button:hover {
    background-color: lightslategray;
}
